<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap" rel="stylesheet">

  </head>
  <body>
    
    
    <div style="display: flex; flex-direction: column; color: white; text-align: center;">
      <div>
        <h1>Silas Ueberschaer</h1>
      </div>
      <div>
        <h2>Ich bin 21 Jahre und programmiere mit</h2>
        <div style="display: inline;">
          <h2 style="color: #66cc33; display: inline;">Node.js</h2><h2 style="display: inline;">, </h2>
          <h2 style="color: #42A5F5; display: inline;">Flutter</h2><h2 style="display: inline;">, </h2>
          <h2 style="color: #092E20; display: inline;">Django</h2><h2 style="display: inline;">, </h2>
          <h2 style="color: #ad33cc; display: inline;">HTML/CSS/JS</h2><h2 style="display: inline;">, </h2>
          <h2 style="display: inline;">und </h2>
          <h2 style="color: #cc5733; display: inline;">andere </h2>
        </div>
      </div>

      <div style="display: inline; margin-top: 2%;">
        <h2 style="display: inline;">Schau dir mein <a href="https://www.github.com/deischox" target="_blank" style="display: inline;"> Github  </a> an</h2>
      </div>
      <div style="display: inline; margin-top: 1%;">
        <h2 style="display: inline;">Bei Geschäftlichen Anfragen schreibe mir eine <a href="mailto:Silas.Ueberschaer@gmx.de" target="_blank" style="display: inline;"> Email  </a></h2>
      </div>

    </div>
    <script src="frog.js" type="module"></script>
    <div style="display: flex;
    align-items: center;
    justify-content: center;">
      <canvas id="c"></canvas>
    </div>
    
    
  </body>
</html>